/* Reaver Font Family */
@font-face {
  font-family: 'Reaver';
  src: url('../assets/fonts/Reaver-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reaver';
  src: url('../assets/fonts/Reaver-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Reaver';
  src: url('../assets/fonts/Reaver-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Radiance Font Family */
@font-face {
  font-family: 'Radiance';
  src: url('../assets/fonts/radiance.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radiance';
  src: url('../assets/fonts/radiance-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radiance';
  src: url('../assets/fonts/radiance-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

